<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-04-28 18:55:34
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <magepow_quickedit>
            <general>
                <enabled>1</enabled>
                <use_config_dev_debug>0</use_config_dev_debug>
                <restrict_allow_ips></restrict_allow_ips>
                <show_with_parameter>1</show_with_parameter>
                <parameter_value>magento</parameter_value>
            </general>
        </magepow_quickedit>    
	</default>
</config>
