<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-02-12 14:01:01
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-04-28 18:55:34
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="86">
            <label>Magepow</label>
        </tab>
        <section id="magepow_quickedit" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Quick Edit</label>
            <tab>magepow</tab>
            <resource>Magepow_Quickedit::config_quickedit</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="0"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Enabled Module</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_config_dev_debug" translate="label comment" type="select" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Quick Edit when show template hints</label>
                    <comment>Use config in Developer > Debug</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
<!--                 <field id="restrict_allow_ips" translate="label comment" type="text" sortOrder="20"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Allowed IPs (comma separated)</label>
                    <comment>Leave empty for access from any location.</comment>
                </field> -->
                <field id="show_with_parameter" translate="label comment" type="select" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Quickedit with URL Parameter</label>
                    <comment>Use URL parameter to enable Quickedit</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- <depends><field id="use_dev_debug" separator=",">0</field></depends> -->
                </field>
                <field id="parameter_value" translate="label comment" type="text" sortOrder="40"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Parameter Value</label>
                    <comment>Add the following parameter to the URL to show quick edit ?quickedit=[parameter_value]</comment>
                    <depends><field id="show_with_parameter" separator=",">1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>
