<?xml version="1.0"?>
<!-- /**
 * @Author: nguyen
 * @Date:   2020-07-17 18:55:34
 * @Last Modified by:   nguyen
 * @Last Modified time: 2020-07-17 18:55:34
 */ -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magiccart\Magicproduct\Helper\Alothemes" type="Magiccart\Alothemes\Helper\Data" />
</config>